/*
основной цвет заголовков: #212121
цвет абзаццев: #757575
цвет акцента: #2196F3
цвет белых строчных объектов: #FFFFFF
*/

:root {
  --main-text-color: #212121;
  --paragraph-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

body {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
}

p {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

/* body a {
  color: var(--main-text-color);
  text-decoration: none;
} */

ul {
  list-style: none;
}

/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo > span {
  color: var(--accent-color);
}

/* Site-nav */

.site-nav a {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/*Site-contacts*/

.site-contacts a {
  color: var(--paragraph-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero .title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  /* display: flex; */
  background: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* peculiarities */

.peculiarities h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* team */

.team {
  background-color: #f5f4fa;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Footer */

.footer {
  color: var(--white-color);
  background-color: #2f303a;
}

address p {
  font-style: normal;
  font-family: Roboto, sans-serif;
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer .link {
  font-style: normal;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* PORTFOLIO
PORTFOLIO */
.button {
  color: var(--main-text-color);
  /* background: #f5f4fa; */
  border-radius: 4px;
}

.portfolio.filter {
  background: #f5f4fa;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio.link:hover,
.portfolio.link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio.current {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio h2 {
  /* font-family: "Roboto";
  font-style: normal; */
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
